// Body
$body-bg: #fff;

// Typography
$font-regular: 'helvetica';

// Size
$main-size: 16px;

// Colors
$main-color: #57a773;
$second-color: #100e0b;
$light-gray: #a4a8b2;
$dark-gray: #464a56;
$light: #dcdcdc;
$light2: #e3e3e3;
